// **************************************
// THEME COLOR MAP
// **************************************
/*
Color Wheel:
  Black: hsl(255, 0%, 0%)
  Dark Grey: hsl(237, 12%, 33%)
  Grey: hsl(240, 6%, 50%)
  White: hsl(255, 100%, 100%)
*/

$colors: (
  // Primary Project Color
  primary: (
    color: hsl(353, 100%, 36%),
    error: hsl(0, 100%, 50%),
    light: hsl(353, 100%, 95%)
  ),
  // Accent Project Color
  accent: (
    color: hsl(173, 100%, 36%)
  ),
  // Background Dashboard Color
  bg: (
    color:  hsl(180, 8%, 95%),
    light: hsl(255, 100%, 100%),
    shade: hsl(0, 0%, 70%),
    smoke: hsl(0, 0%, 40%),
    dark: hsl(255, 0%, 0%)
  ),
);