// **************************************
// STATE STYLES
// **************************************

.show__error-msg {
  color: var(--clr-primary-error);
  transform: translateY(-20px);
  font-size: clamp(0.8rem, 3vw, 1rem);
}
