// **************************************
// GRID STYLES (BRINGING IN FLEXBOX STYLES TOO)
// **************************************
@use "../utilities" as *;
@use "../base/flex" as *;

/*------GRID LAYOUT STYLES-----------*/
//Base Grid Layout for Whole site
.grid__wrapper {
  min-height: 100vh;
  display: grid;
  max-width: 75rem;
  margin-inline: auto;
  grid-auto-columns: 1fr;
  grid-template-rows: 60px auto 70px;
  grid-template-areas:
    "header"
    "main "
    "navigation";

  @include mq("md") {
    grid-template-columns: 1.5fr 5fr 5fr;
    grid-template-areas:
      "navigation header header"
      "navigation main main"
      "navigation main main";
  }
}

// Main Content Grid Layout
.main__grid--wrapper {
  display: grid;
  padding: 0rem 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "announcements"
    "shifts";
  @include mq("md") {
    grid-gap: 3rem;
    grid-template-columns: 1.2fr 1fr;
    grid-template-areas: "shifts announcements";
    padding: 1rem;
  }
}

// Grid Area Items
.header {
  grid-area: header;
}

.nav {
  grid-area: navigation;
}

.main {
  grid-area: main;
}

.shifts {
  grid-area: shifts;
}

.announcements {
  grid-area: announcements;
}
