// **************************************
// LAYOUT STYLES
// **************************************
@use "../utilities" as *;

/*------FLEXBOX LAYOUT STYLES-----------*/

//flex styles
.flex__container {
  flex-basis: 100%;
  @include flex_me();
  &--column {
    @include flex_me($dir: column);
  }
  &--column-center {
    @include flex_me($dir: column, $just: center);
  }
  &--column-v-center {
    @include flex_me($dir: column, $vertAlign: center);
  }
  &--column-between {
    @include flex_me($dir: column, $just: space-between);
  }
  &--column-centered-fully {
    @include flex_me($dir: column, $just: center, $vertAlign: center);
  }
  &--between {
    @include flex_me($just: space-between);
  }
  &--between-center {
    @include flex_me($just: space-between, $vertAlign: center);
  }

  &--around {
    @include flex_me($just: space-around);
  }
  &--h-end {
    @include flex_me($just: flex-end);
  }
  &--v-end {
    @include flex_me($vertAlign: flex-end);
  }
  &--v-center {
    @include flex_me($vertAlign: center);
  }
  &--centered-fully {
    @include flex_me($vertAlign: center, $just: center);
  }
}

/*------GRID LAYOUT STYLES-----------*/
//Base Grid Layout for Whole site
.grid__wrapper {
  height: 100vh;
  max-width: 100rem;
  margin-inline: auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 100px auto 70px;
  grid-template-areas:
    "header"
    "main "
    "navigation";

  @include mq("md") {
    grid-template-columns: 80px 3fr 3fr;
    grid-template-areas:
      "navigation header header"
      "navigation main main"
      "navigation main main";
  }
}

//Main Content Grid Layout
.main__grid--wrapper {
  display: grid;
  grid-gap: 1.5rem;
  padding: 2rem 1rem;
  margin-inline: auto;
  grid-template-columns: 1fr;
  @include mq("md") {
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
  }
}

// Grid Area Items
.header {
  grid-area: header;
}

.nav {
  grid-area: navigation;
}

.main {
  grid-area: main;
}
