// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

:is(.title__primary, .content__logo) {
  text-align: center;
}

.title__primary {
  --fp-weight-main: 400;
  @include text-prop(
    $size: clamp(1.8rem, 3vw, 2.5rem),
    $f-weight: var(--fp-weight-main)
  );
  &--form {
    padding: 20px;
    background-color: var(--clr-bg-color);
    transform: translateY(-20px);
    border-radius: 15px;
    &::after {
      content: "";
      display: block;
      width: 80px;
      margin: 0 auto;
      border-bottom: 2px solid var(--clr-primary-color);
      padding-top: 10px;
    }
  }
}

//h2 styles
.title__secondary {
  @include text-prop($size: 1.5em, $f-weight: 500);
  @extend %text-modules;
  @include mq("md") {
    @include text-prop($size: 1.3em, $l-height: 1.5);
  }
  @include mq("lg") {
    @include text-prop($size: 1.6em);
  }
}

//h3 Styles

.title__tertiary {
  @include text-prop($size: 1.4em);
}

/*----CONTEXT STYLES----*/

//content styles
.content {
  padding: 0.5px;
  &__header {
    --fp-weight-main: 600;
    color: var(--clr-bg-dark);
    transform: translateY(80px);
    @include text-prop(
      $size: clamp(1rem, 3vw, 2rem),
      $f-weight: var(--fp-weight-main)
    );

    @include mq("md") {
      transform: unset;
    }
  }

  &__quote {
    @include text-prop(
      $size: clamp(1rem, 3.5vw, 1.5rem),
      $l-height: 1.5,
      $color: var(--clr-bg-light)
    );
    font-style: italic;
    letter-spacing: 1px;
  }

  &__author {
    display: block;
    font-size: clamp(0.5rem, 3.5vw, 1rem);
    margin-top: 1rem;
  }

  &__highlight {
    --fp-weight-main: 800;
    color: var(--clr-primary-color);
    font-weight: var(--fp-weight-main);
  }

  &__profile {
    color: var(--clr-bg-light);
    @include mq("md") {
      color: var(--clr-bg-dark);
    }
  }

  &__form {
    --fp-weight-main: 600;
    @include text-prop(
      $size: clamp(1.3rem, 3vw, 1.2rem),
      $f-weight: var(--fp-weight-main),
      $color: var(--clr-bg-dark)
    );
    margin-top: 2rem;
    line-height: 1.5;
  }

  &__logo {
    color: var(--clr-bg-light);
    text-align: center;
    transform: translateY(-5px);
    @include text-prop(
      $size: clamp(0.7rem, 3vw, 1.8rem),
      $f-weight: var(--fp-weight-main),
      $color: var(--clr-bg-light)
    );
  }
  &__link {
    color: var(--clr-bg-dark);
    margin-top: 0.5rem;
  }
}

// link styles
.link__text {
  @include text-prop($size: clamp(0.3rem, 2vw, 1.1rem), $f-weight: 500);
}
