// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

:is(.title__primary, .content__logo, .content__header-dash, .content__stats, .ctr__txt) {
  text-align: center;
}

//h1 styles
.title__primary {
  --fp-weight-main: 400;
  @include text-prop(
    $size: clamp(1.8rem, 3vw, 2.5rem),
    $f-weight: var(--fp-weight-main)
  );
  &--form {
    @extend .title__primary;
    padding: 20px;
    background-color: var(--clr-bg-color);
    transform: translateY(-20px);
    border-radius: 15px;
    &::after {
      content: "";
      display: block;
      width: 80px;
      margin: 0 auto;
      border-bottom: 2px solid var(--clr-primary-color);
      padding-top: 10px;
    }
  }
}

//h2 styles
.title__secondary {
  --fp-weight-main: 600;
  @include text-prop(
    $size: clamp(1.2em, 3vw, 2rem),
    $f-weight: var(--fp-weight-main),
    $color: var(--clr-bg-dark)
  );

  margin: 1.5rem 0rem;
}

/*----CONTENT STYLES----*/

//content styles
.content {
  @include text-prop(
    $size: clamp(0.6rem, 3vw, 1rem),
    $f-weight: var(--fp-weight-main)
  );

  &--bold {
    --fp-weight-main: 600;
    @include text-prop(
      $size: clamp(0.67rem, 3vw, 1.2rem),
      $f-weight: var(--fp-weight-main),
      $l-height: 1.6,
      $color: var(--clr-primary-color)
    );
  }
}
